html {
  font-size: 100%;
}
body {
  margin: 0;
  font-size: 1.2em;
  line-height: 1.2;
  font-family: Georgia, sans-serif;
  color: #333;
  background-color: #f7f7f7;
}
#overlord {
  padding: 2em 2em 2em 5em;
}
[role='banner'] {
}
h1,
h2 {
  margin: 0;
}
h1 {
  margin: .1em 0;
  font-size: 1.7em;
  line-height: 1.1;
  color: #777;
  text-shadow: 0 2px 0 #fff;
}
h2 {
  font-size: 1.3em;
  line-height: 1;
  text-align: right;
  font-weight: normal;
  font-style: italic;
  color: #666;
  max-width: 33.1em;
}
ul {
  list-style-type: none;
  padding: 0 0.7em;
  margin: 2em 0;
  border-left: 3px dotted #ddd;
}
li {
  margin: .5em 0;
}
li:first-child {
  display: none;
}
a {
  color: #00e;
  text-decoration: none;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
}
[role='contentinfo'] {
}

@media (min-width: 720px){
  ul {
    -webkit-column-count: 2;
       -moz-column-count: 2;
        -ms-column-count: 2;
         -o-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 1em;
       -moz-column-gap: 1em;
        -ms-column-gap: 1em;
         -o-column-gap: 1em;
            column-gap: 1em;
  }
}

@media (min-width: 1020px){
  ul {
    -webkit-column-count: 3;
       -moz-column-count: 3;
        -ms-column-count: 3;
         -o-column-count: 3;
            column-count: 3;
  }
}

@media (min-width: 1320px){
  ul {
    -webkit-column-count: 4;
       -moz-column-count: 4;
        -ms-column-count: 4;
         -o-column-count: 4;
            column-count: 4;
  }
}

@media (min-width: 1620px){
  ul {
    -webkit-column-count: 5;
       -moz-column-count: 5;
        -ms-column-count: 5;
         -o-column-count: 5;
            column-count: 5;
  }
}

@media (min-width: 1920px){
  ul {
    -webkit-column-count: 6;
       -moz-column-count: 6;
        -ms-column-count: 6;
         -o-column-count: 6;
            column-count: 6;
  }
}

@media (min-width: 2220px){
  ul {
    -webkit-column-count: 7;
       -moz-column-count: 7;
        -ms-column-count: 7;
         -o-column-count: 7;
            column-count: 7;
  }
}
